NEXT_PUBLIC_SITE_URL=https://example.com
NEXT_PUBLIC_CONTACT_EMAIL=ron.jordan@aurelianadvisorygroup.co
NEXT_PUBLIC_CALENDLY_URL=https://calendly.com/rljordan387
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com/in/example
